Package: com.chr1s.chatwall
Name: ChatWall
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom wallpapers for iMessage
Icon: https://chr1s.dev/assets/chatwallRounded.png
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, ws.hbang.common (>= 1.15.1)
